annotated-types==0.7.0
black==25.1.0
cerberus==1.3.5
hatch==1.14.1
inquirer==3.4.0
ipykernel==6.29.4
jaraco.collections==5.1.0
matplotlib==3.10.1
mccabe==0.7.0
numba==0.59.1
pip-tools==7.4.1
pre-commit==3.7.1
pycodestyle==2.12.0
pydantic-core==2.18.4
pyflakes==3.2.0
pygcode==0.2.1
pyqt6==6.7.0
pytest==8.2.2
scikit-image==0.23.2
scikit-learn==1.5.0
torchvision==0.21.0
tqdm==4.66.4
